.note {
    width: 100%;
    padding: 5px;
    background-color: #888;
    color: #fff;
    box-sizing: border-box;
    ::ng-deep ul {
        li {
            a {
                color: #fff !important;
                cursor: pointer;
            }
        }
    }
}
fieldset {
    span {
      display: block;
    }
}
.controller {
    text-align: center;
}
.resources {
  text-align: center;
  margin-bottom: 20px;
}